.header{
	background-color: white;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.header h2{
	margin: 0px;
}

body{
	background: #eee;
	height: 100%
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
p{
	font-size: 18px;
}
.main{
	display: flex;
	flex-flow: column;
  height: 100%;
}
.main .container{
	flex: 0 1 auto;
}
#map {
  height: 500px;
  flex: 1 1 auto;
  position: relative;
}
.footer{
	padding-top: 25px;
	background-color: #009645;
	width: 100%;
	color: white;
}
.footer a{
	color: lightblue;
	font-weight: bold;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
}
.controls{
	padding-left: 100px;
	top: 0;
	right: 0;
	z-index: 999;
}

