.header {
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.header h2 {
    margin: 0px;
}

body {
    background: #eee;
    height: 100%
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
}

.main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.main .container {
    flex: 0 1 auto;
}
@media (max-width: 1000px) {
    #map {
        height: 1000px;
        flex: 1 1 auto;
        position: relative;
    }
    p {
        font-size: 25px;
    }
}
@media (min-width: 1000px) {
    #map {
        height: 600px;
        flex: 1 1 auto;
        position: relative;
    }
    p {
        font-size: 18px;
    }
}


#favfilter {
    margin: 0px 5px 0px 0px;
    width: 25px;
    height: 25px;
}

.footer {
    padding: 25px 0px 25px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    background-color: #009645;
    width: 100%;
    color: white;
}

.footer a {
    color: lightblue;
    padding: 10px 0px 0px 0px;
    font-weight: bold;
}



.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}

.controls {
    padding-left: 100px;
    padding-bottom: 5px;
    top: 0;
    right: 0;
    z-index: 999;
}