{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename = 'js/main.js')}}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcXBAjbujUiiVRO375Dz2_Hm0p6K9ilLM"></script>
{% endblock %}
{% block title %}Food Finder{% endblock %}

{% block body %}
<div class="main">
	<div class="container">
		<div class="row">
			<br>
			<h1 class="mainHeader">
				<center>Santa Cruz Food Finder</center>
			</h1>
			<br>
			<p>Welcome to Santa Cruz Food Finder, a resource provided by Second Harvest Food Bank</p>
		</div>

		<label>From:</label>
		<input type="date" id="startDate" onchange="updateBound()">
		<!--
		<select id='startH' onchange="updateBound()">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8 selected="selected">8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
		</select>
		<select id='startM' onchange="updateBound()">
			<option value=0 selected="selected">00</option>
			<option value=5>05</option>
			<option value=10>10</option>
			<option value=15>15</option>
			<option value=20>20</option>
			<option value=25>25</option>
			<option value=30>30</option>
			<option value=35>35</option>
			<option value=40>40</option>
			<option value=45>45</option>
			<option value=50>50</option>
			<option value=55>55</option>
		</select>
		<select id='startTOD' onchange="updateBound()">
			<option value=0 selected="selected">am</option>
			<option value=720>pm</option>
		</select>
		-->
		<br>
		<label>To:</label>
		<input type="date" id="endDate" onchange="updateBound()">
		<!--
		<select id='endH' onchange="updateBound()">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5 selected="selected">5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
		</select>
		<select id='endM' onchange="updateBound()">
			<option value=0 selected="selected">00</option>
			<option value=5>05</option>
			<option value=10>10</option>
			<option value=15>15</option>
			<option value=20>20</option>
			<option value=25>25</option>
			<option value=30>30</option>
			<option value=35>35</option>
			<option value=40>40</option>
			<option value=45>45</option>
			<option value=50>50</option>
			<option value=55>55</option>
		</select>
		<select id='endTOD' onchange="updateBound()">
			<option value=0>am</option>
			<option value=720 selected="selected">pm</option>
		</select>
		-->
		<br>
		<input type="checkbox" id="favfilter" value="true" onclick="favfilterToggle()">Only show favorites
		<br>

		<div class="row">
			<div id="map"></div>
		</div>
		<div class="row">
			<h3>About</h3>
			<p>In Santa Cruz County, 1 in 5 people face hunger in Santa Cruz County. For children it’s 1 in 4.

				Hunger is not inevitable. We’re working hard to feed people who need food now and to advocate for
				policies that tackle the root causes of hunger. We reach people in need through our vast network of
				partner agencies and non-profits and directly through food distribution and nutrition education at
				dozens of program sites.</p>
		</div>
		<a href="https://www.thefoodbank.org/events/category/event/">Events and Programs</a> <br>
		<a href="https://www.thefoodbank.org/ways-to-give/">Ways to Give</a> <br>
		<a hred="https://www.thefoodbank.org/aboutus/contact/">Contact Us</a>
	</div>
</div>

{% endblock %}